@model MovieManager.ViewModels.MovieViewModels
@{
    ViewBag.Title = "Movie";
}

<h2>Movie</h2>
<form>
    <div class ="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new {@class = "form-control"})
    </div>
    <div class ="form-group">
        @Html.LabelFor(m => m.GenreType)
        @Html.TextBoxFor(m => m.GenreType, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Rating)
        @Html.TextBoxFor(m => m.Rating, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DateAdded)
        @Html.TextBoxFor(m => m.DateAdded, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TimeAdded)
        @Html.TextBoxFor(m => m.TimeAdded, new {@class = "form-control"})
    </div>
</form>

